webapp/java
webapp/perl
webapp/php
webapp/python
webapp/scala
.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.composer/
.cpanm/
.gem/
.ivy2/
.local/
.m2/
.npm/
.profile
.sbt/
.ssh/
.viminfo
.xbuild/
